<p>Hi <%= first_name %>,</p>

<p>Thanks for signing up to Snugg Pro!</p>

<p>You can <a href="<%= app_url %>">log in here</a> with your username and password.</p>

<p>Here are some pointers to help you get started:</p>

<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Browser requirements:</h3>
<p>Snugg Pro is a powerful app that requires the use of these modern browsers:</p>

<p><strong>Laptop or Desktop: Google Chrome</strong>. If you don't already have it, you can <a href="http://www.google.com/chrome">get Chrome here.</a></p>
<p><strong>iPad: Default mobile Safari.</strong> (Alternative: Chrome on iPad)</p>
<p><strong>Other Tablet (Android, Windows): Google Chrome.</strong> This is often not the default browser. Just like on the laptop, you can <a href="http://www.google.com/chrome">get Chrome here.</a></p>


<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">About your new account:</h3>
<p>
  Every Snugg Pro account comes with two free sample jobs already created:
</p>
<ol>
  <li>A reference job pre-filled with values, text and photos that you can edit</br></li>
  <li>A blank job for evaluation purposes</li>
</ol>
<p>
</p>
<p>These free jobs have a large 'Sample' watermark across all pages of the report. </p>
<p><strong>Note:</strong> Make sure you change the zip code of your sample jobs before modeling. The zip code affects modeling accuracy.</p>


<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Billing & charges:</h3>
<p>
  We’ll only ask you for your credit card when you create a billable job in Snugg Pro.<br/>
  This credit card will be charged for all billable jobs and/or subscriptions created by users of <%= company_name %>.
</p>
<p>
  Each new job is billable when it's created. Billings for single job pricing are processed each Friday for jobs created the previous 7 days.
  Monthly subscriptions are billed at the beginning of each month.  Email us for subscription pricing.
</p>

<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Inviting users to your company:</h3>
<p>You can invite your colleagues, employees and subs to perform jobs as part of <%= company_name %> from <a href="<%= app_url %>/settings/companies">the company settings</a>.</p>


<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Getting support:</h3>
<p>
  While you are signed into the app, just click on the support button on the left sidebar to see all of the support options.
  We offer free unlimited support and training - <strong>the live chat is quick and easy.</strong>
</p>
<p> <a href="http://support.snuggpro.com">You can also view our support section here</a>. </p>

<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Training:</h3>
<p>Need a little extra help to get off the ground? No problem. We offer free unlimited training. </p>
<p>
  To get started <a href="http://snuggpro.com/webinars">visit our webinar page</a> for scheduled training sessions,
  or <a href="http://snuggpro.com/recorded-webinars">watch the pre-recorded session</a>.
  In addition, we will be glad to setup an individual or group training session for you.
  Please call if you would like a walk through to get you started.
</p>

<p>Lastly, feel free to contact us if you need assistance.</p>

<p>Welcome aboard!</p>
